target/

### IntelliJ IDEA ###
.idea

# Diretório de plugins e arquivos temporários do Terraform
.terraform/

# Arquivo de bloqueio do Terraform (opcional, veja explicação acima)
.terraform.lock.hcl

# Arquivo de estado e backups
terraform.tfstate
terraform.tfstate.backup

# Planos de execução do Terraform
tfplan

# Outros arquivos de log ou temporários
*.log
*.tfvars
fiapeats-lambda.iml
.aws-sam/
.aws-sam/build.toml
.aws-sam/build/Function/br/com/fiap/fiapeats/Handler.class
.aws-sam/build/Function/lib/com.amazonaws.aws-lambda-java-core-1.2.1.jar
.aws-sam/build/Function/lib/com.amazonaws.aws-lambda-java-events-3.11.0.jar
.aws-sam/build/Function/lib/joda-time.joda-time-2.6.jar
.aws-sam/build/template.yaml
.aws-sam/temp-template.yaml
dependency-reduced-pom.xml
HELP.md
